/* 2bwm */
twobwm.border_width: 1
twobwm.outer_border: 1
twobwm.focus_color: #FFFFFF
twobwm.unfocus_color: #0F0F0F
twobwm.fixed_color: #0000FF
twobwm.unkill_color: #EEEEEE
twobwm.outer_border_color: #00FF00
twobwm.fixed_unkill_color: #FF0000
twobwm.inverted_colors: false
twobwm.enable_compton: true

/* Rofi */
#define r_bg   #030d10
#define r_fg   #97a4ad
#define r_hlfg #ffe4ce
#define r_hlbg #7f99a6
#define r_urg  #9f5248

rofi.modi:                           run,ssh,window
rofi.run-command:                    zsh -c "{cmd}"
rofi.run-shell-command:              urxvt -e zsh -c "{cmd}"
! States: bg, fg, bgalt, hlbg, hlfg
rofi.color-enabled: true
rofi.color-normal: r_bg,r_fg,r_bg,r_bg,r_hlfg
rofi.color-urgent: r_bg,r_urg,r_bg,r_bg,r_hlbg
rofi.color-active: r_bg,r_hlbg,r_bg,r_bg,r_hlfg
!rofi.states: background, border
rofi.color-window: r_bg,r_hlbg

rofi.separator-style: none
rofi.bw: 0
rofi.columns: 1
rofi.padding: 460
rofi.eh: 1

rofi.yoffset: 0
rofi.location: 0
rofi.width: 100
rofi.font: Noto Sans 12
rofi.lines: 5
rofi.hide-scrollbar: true
rofi.terminal: urxvt

/*###############
# URXVT settings
###############*/
URxvt.cursorUnderline: true
URxvt.cursorBlink: true

URxvt.urlLauncher: xdg-open

URxvt.iso14755: False
URxvt.perl-ext-common: default
URxvt.saveLines: 12000

URxvt.font: xft:Hack:regular:pixelsize=12
URxvt.boldFont: xft:Monaco:bold:pixelsize=12
URxvt.letterSpace: -1

/* # scrollbar - true (default) or false */
URxvt.scrollBar: false

URxvt.tabbed.tabbar-fg: 7
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg: 10
URxvt.tabbed.tab-bg: -1

/*
urxvt.foreground:   #ffe4ce
urxvt.background:   #030d10

! black
urxvt.color0:       #030d10
urxvt.color8:       #030d10

! red
urxvt.color1:       #9f5248
urxvt.color9:       #9f5248

! green
urxvt.color2:       #a1bfb9
urxvt.color10:      #a1bfb9

! yellow
urxvt.color3:       #ffd9a3
urxvt.color11:      #ffd9a3

! blue
urxvt.color4:       #5a7e8c
urxvt.color12:      #5a7e8c

! magenta
urxvt.color5:       #6a555c
urxvt.color13:      #6a555c

! cyan
urxvt.color6:       #7f99a6
urxvt.color14:      #7f99a6

! white
urxvt.color7:       #ffe4ce
urxvt.color15:      #ffffff 
*/

urxvt.background:  #0f0f0f
urxvt.foreground:  #ffffff
urxvt.color0:  #0f0f0f
urxvt.color1:  #ffa80e
urxvt.color2:  #9ed358
urxvt.color3:  #ffd115
urxvt.color4:  #16b9ff
urxvt.color5:  #fc2e71
urxvt.color6:  #13a696
urxvt.color7:  #e2e8ea
urxvt.color8:  #202426
urxvt.color9:  #ffb75b
urxvt.color10:  #afdc73
urxvt.color11:  #ffb00e
urxvt.color12:  #94e4ff
urxvt.color13:  #c02465
urxvt.color14:  #39b6a8
urxvt.color15:  #ffffff
