/* Rofi */
#define r_bg   #030d10
#define r_fg   #97a4ad
#define r_hlfg #ffe4ce
#define r_hlbg #7f99a6

rofi.modi:                           run,ssh,window
rofi.run-command:                    zsh -c "{cmd}"
rofi.run-shell-command:              {terminal} -e zsh -c "{cmd}"
! States: bg, fg, bgalt, hlbg, hlfg
rofi.color-enabled: true
rofi.color-normal: r_bg,r_fg,r_bg,r_bg,r_hlfg
rofi.color-urgent: r_bg,#e9f5248,r_bg,r_bg,r_hlbg
rofi.color-active: r_bg,r_hlbg,r_bg,r_bg,r_hlfg
!rofi.states: background, border
rofi.color-window: r_bg,r_hlbg

rofi.separator-style: none
rofi.bw: 0
rofi.columns: 1
rofi.padding: 460
rofi.eh: 1

rofi.yoffset: 0
rofi.location: 0
rofi.width: 100
rofi.font: Noto Sans 12
rofi.lines: 5
rofi.hide-scrollbar: true
rofi.terminal: urxvt

/*###############
# URXVT settings
###############*/
URxvt.cursorUnderline: true
URxvt.cursorBlink: true

URxvt.urlLauncher: xdg-open

URxvt.iso14755: False
URxvt.perl-ext-common: default,tabbed
URxvt.saveLines: 12000

URxvt.font: xft:Monaco:regular:pixelsize=12
URxvt.boldFont: xft:Monaco:bold:pixelsize=12
URxvt.letterSpace: -1

/* # scrollbar - true (default) or false */
URxvt.scrollBar: false

URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: -1
URxvt.tabbed.tab-fg: 12
URxvt.tabbed.tab-bg: -1

/*urxvt.foreground:   #ffe4ce
urxvt.background:   #030d10

! black
urxvt.color0:       #97a4ad
urxvt.color8:       #030d10

! red
urxvt.color1:       #9f5248
urxvt.color9:       #9f5248

! green
urxvt.color2:       #a1bfb9
urxvt.color10:      #a1bfb9

! yellow
urxvt.color3:       #ffd9a3
urxvt.color11:      #ffd9a3

! blue
urxvt.color4:       #5a7e8c
urxvt.color12:      #5a7e8c

! magenta
urxvt.color5:       #6a555c
urxvt.color13:      #6a555c

! cyan
urxvt.color6:       #7f99a6
urxvt.color14:      #7f99a6

! white
urxvt.color7:       #ffe4ce
urxvt.color15:      #ffffff */

! special
urxvt.foreground:   #000000
urxvt.background:   #f1f1f1

! black
urxvt.color0:       #eeeeee
urxvt.color8:       #bdbdbd

! red
urxvt.color1:       #d50000
urxvt.color9:       #f44336

! green
urxvt.color2:       #00BFA5
urxvt.color10:      #004D40

! yellow
urxvt.color3:       #dd2c00
urxvt.color11:      #ff3d00

! blue
urxvt.color4:       #01579b
urxvt.color12:      #0091ea

! magenta
urxvt.color5:       #311b92
urxvt.color13:      #673ab7

! cyan
urxvt.color6:       #006064
urxvt.color14:      #00acc1

! white
urxvt.color7:       #424242
urxvt.color15:      #757575
