configuration {
modi: "emoji,drun,window,find:~/.local/share/rofi/finder.sh";
font: "Noto Sans 12";
location: 0;
yoffset: 0;
terminal: "urxvt";
run-command: "zsh -c '{cmd}'";
run-shell-command: "urxvt -e zsh -c '{cmd}'";
}

@import "/home/klim/.config/rofi/theme.rasi"
