* {
    font-family: Monaco Nerd Font;
    color: #000;
    outline: none;
    border: none;
}

#window {
    background: #ccc;
    margin: auto;
    padding: 10px;
    border: 2px solid #fa5b1c;
}

#input {
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
    background: #ccc;
}

#outer-box {
    padding: 20px;
}

#img {
    margin-right: 6px;
}

#entry {
    padding: 10px;
    border-radius: 0px;
}

#entry:selected {
    background-color: #fa5b1c;
}

#text:selected {
    color: #fff;
}

#text {
    margin: 2px;
}

#input:focus {
    box-shadow: none;
}

#scroll:focus {
    border: none;
}

#scroll overshoot,
#scroll undershoot {
    box-shadow: none;
}
